{% extends 'base_site.html' %}
{% load static %}
    {% block title %}
        <title>Memoria - Lobby</title>
    {% endblock %}

    {% block content %}
        <div class="row">
            <div class="col-lg-9">
                <center><h1>JOGO DA MEMORIA</h1></center>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-8">
                        <form method="POST" action={% url 'logout' %}>
                        {% csrf_token %}
                            <span id="userid">{{ request.user.username }}</span>
                            <button id="logout" type="submit" class="btn btn-danger">Logout</button>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <img id="userpic" class="img-fluid rounded-circle" src="{% static 'img/nopicture.png' %}">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-8">
                <h3 class="white">SALAS</h3>
                {% if salas %}
                    <input class="col-lg-12 busca" id="buscasala" type="text" placeholder="Procure pelo nome da sala">
                    <table id="salas" class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Nome da sala</th>
                                <th>Criador</th>
                                <th>Tipo</th>
                                <th>Dificuldade</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for sala in salas %}
                            <tr>
                                <td>{{ sala.posicao }}</td>
                                <td>{{ sala }}</td>
                                <td>{{ sala.player1 }}</td>
                                <td>{{ sala.get_tipo_partida_display }}</td>
                                <td>{{ sala.get_level_partida_display }}</td>
                                <td>{{ sala.get_estado_display }}</td>
                                {% if sala.estado == 'A' %}
                                    <td>
                                        <form name="entrar-partida-form" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="entrar-partida">
                                            <input type="hidden" name="id-sala-{{ sala.id }}">
                                            <button type="submit" name="entrar-partida" id="entrar-partida">Entrar</button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="mensagem-sem-partida text-center">
                        <p>Não há salas abertas no momento</p>
                    </div>
                {% endif %}
                <button id="queue" class="btn bt-padrao" type="button">Partida Rápida</button>
                <button id="criar" class="btn bt-padrao" type="button" data-toggle="modal" data-target="#criarSala">Criar Sala</button>
            </div>
            <div class="col-lg-4">
                <h3 class="white">RANKING</h3>
                <input class="col-lg-12 busca" id="buscajogador" type="text" placeholder="Procure pelo nome do jogador">
                <table id="ranking" class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Jogador</th>
                            <th>Pontuação</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for jogador in jogadores %}
                        <tr>
                            <td>{{ jogador.posicao }}</td>
                            <td>{{ jogador }}</td>
                            <td>{{ jogador.ranked_win }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <!-- Modal -->
    <div class="modal" id="criarSala" aria-labelledby="criarSalaTitle" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="criarSalaTitle">Criação de Sala</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="" class="col-lg-12" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="criar-sala">
                        <div class="form-group">
                            <b><label for="newroom">Nome da Sala</label></b>
                            <input name="nome_partida" id="nome_partida" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <b><label>Tipo de partida</label></b><br/>
                            <div class="form-check form-check-inline">
                                <h6>
                                    <input class="form-check-input" type="radio" name="tipo_partida" id="casualRadio" value="C" checked>
                                    <label class="form-check-label" for="casualRadio">Casual</label>
                                    <input class="form-check-input" type="radio" name="tipo_partida" id="rankRadio" value="R">
                                    <label class="form-check-label" for="rankRadio">Ranqueada</label>
                                </h6>
                            </div>
                        </div>
                        <div class="form-group">
                            <b><label>Dificuldade</label></b><br />
                            <div class="form-check form-check-inline">
                                <h6>
                                    <input class="form-check-input" type="radio" name="level_partida" id="facRadio" value="I">
                                    <label class="form-check-label" for="facRadio">Fácil</label>
                                    <input class="form-check-input" type="radio" name="level_partida" id="norRadio" value="O" checked>
                                    <label class="form-check-label" for="intRadio">Normal</label>
                                    <input class="form-check-input" type="radio" name="level_partida" id="difRadio" value="D">
                                    <label class="form-check-label" for="difRadio">Difícil</label>
                                    <input class="form-check-input" type="radio" name="level_partida" id="fatRadio" value="F">
                                    <label class="form-check-label" for="fatRadio">FATEC</label>
                                </h6>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                            <button type="submit" id="createroom" class="btn btn-primary">CRIAR SALA</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block extrajs %}
        <script>
            $(function() {
                $("#salas").DataTable({
                    "pagingType" : "numbers";
                    "order" : [[0, "asc"]];
                });
                $("#ranking").DataTable({
                    "pagingType" : "numbers";
                    "order" : [[0, "asc"]];
                });
            });
        </script>
    {% endblock %}
