{% extends 'base_site.html' %}
{% load static %}
{% block title %}
    <title>Jogo da Memória - Sala</title>
{% endblock %}

{% block content %}
    <div class="row linha-titulo">
        <div class="col-6 titulo-sala">
            <h1 id="nome-sala">{{ sala.nome_partida }}</h1>
            <img src="{% static '/img/settings.png' %}" class="img-settings" onclick="abreMenuConfiguracoes()">
        </div>
        <div class="col-6 menu-sair">
            <div class="text-center">
                <img src="{% static 'img/sair.png' %}" class="img-sair" onclick="abreModalSairSala()">
                <p><button class="btn" onclick="abreModalSairSala()">Sair</button></p>
            </div>
        </div>
    </div>
    <div class="container corpo-container">
        <div class="row">
            <div class="card col-sm text-center card-grande">
                <div class="card-body  card-usuario">
                    <img src="{% static 'img/nopicture.png' %}" class="img-usuario">
                    <h5 class="card-title">{{ sala.player1.username }}</h5>
                    {% if sala.player1 == request.user %}
                        <button class="btn-confirmar" id="btn-{{ sala.player1.id }}" {% if not sala.player2 %} disabled {% endif %} onclick="confirmarPartida(this)">Confirmar</button>
                    {% else %}
                        {% if sala.player1_ok %}
                            <h5 class="card-title">Pronto!</h5>
                        {% else %}
                            <h5 class="card-title">Aguardando adversário</h5>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm text-center">
                <h4 id="tipo" class="card-title white">{{ sala.get_tipo_partida_display }}</h4>
                <h5 id="dificuldade" class="card-title white">{{ sala.get_level_partida_display }}</h5>
                <div class="vs-img">
                    <img src="{% static 'img/vs.png' %}" class="img-usuario">
                </div>
            </div>
            <div class="card col-sm text-center card-grande">
                <div class="card-body  card-usuario">
                    <img src="{% static 'img/nopicture.png' %}" class="img-usuario">
                    {% if sala.player2 %}
                        {% if sala.player2 == request.user %}
                            <h5 class="card-title">{{ sala.player2 }}</h5>
                            <button class="btn-confirmar" id="btn-{{ sala.player2.id }}" onclick="confirmarPartida(this)">Confirmar</button>
                        {% else %}
                            <h5 class="card-title">{{ sala.player2.username }}</h5>
                            {% if sala.player2_ok %}
                                <h5 class="card-title">Pronto!</h5>
                            {% else %}
                                <h5 class="card-title">Aguardando confirmação...</h5>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if sala.player1_ok %}
                            <h5 class="card-title">Pronto!</h5>
                        {% else %}
                            <h5 class="card-title">Aguardando adversário</h5>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center estado-jogadores">
                AGUARDANDO CONFIRMAÇÃO DOS JOGADORES
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="modalSairSala" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exitTitle">Tem certeza que deseja sair?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <form name="form-sair-sala" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="sair-sala">
                        <button type="button" class="btn bt-modal" data-dismiss="modal">CANCELAR</button>
                        <button type="submit" class="btn bt-modal">SAIR</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
		
{% block extrajs %}
    <script>
        var ultimaAtualizacao = {};

        var player1_ok = '{{ sala.player1_ok }}' === 'True';
        var player2_ok = '{{ sala.player2_ok }}' === 'True';
        var player1_id = '{{ sala.player1.id }}';
        var player2_id = '{{ sala.player2.id }}';

        window.onload = () => {
            let player1Rpr = $('#btn-' + '{{ sala.player1.id }}');
            let player2Rpr = $('#btn-' + '{{ sala.player2.id }}');
            if(player1_ok && player1Rpr.length === 1) {
                confirmarPartida(player1Rpr)
            }
            if(player2_ok && player2Rpr.length === 1) {
                confirmarPartida(player2Rpr)
            }
        };

        const abreMenuConfiguracoes = () => {
            alert('Implementar o menu!!!');
        };

        const abreModalSairSala = () => {
            $('#modalSairSala').modal('toggle');
        };

        const confirmarPartida = (element) => {
            $(element).replaceWith('<img id="img-{{ request.user.id }}" class="img-check" src="{% static "img/check.png" %}">');
            $('.img-check').css({'margin-top': '40px'}).after('<p class="cancelar" onclick="cancelarConfirmacao(this)">Cancelar</p>');

            let data = {
                id_sala: {{ sala.id }},
                id_jogador: {{ request.user.id }},
                tipo_atualizacao: 'confirmar'
            };
            player1_ok = true;

            enviaDadosAtualizacao('{% url 'dados_jogador' %}', data);
        };

        const cancelarConfirmacao = (element) => {
            const imgCheck = $(element).prev();
            $(element).remove();
            imgCheck.replaceWith('<button id="btn-{{ request.user.id }}" class="btn-confirmar" onclick="confirmarPartida(this)">Confirmar</button>');

            let data = {
                id_sala: {{ sala.id }},
                id_jogador: {{ request.user.id }},
                tipo_atualizacao: 'cancelar'
            };
            player1_ok = false;

            enviaDadosAtualizacao('{% url 'dados_jogador' %}', data);
        };

        const atualizaEstado = () => {
            location.reload()
        };

        const verificaOutroJogador = () => {
            const data = {};
            const url = '{% url 'atualiza_outro_jogador' %}';

            if('{{ request.user.id }}' === '{{ sala.player1.id }}') {
                data.estado = '{{ sala.player2_ok }}' === 'True';
                data.estaNaSala = '{{ sala.estado }}';
                data.idJogador = {{ request.user.id }};
                data.idJogador2 = '{{ sala.player2.id }}';
            } else {
                data.estado = '{{ sala.player1_ok }}' === 'True';
                data.estaNaSala = '{{ sala.player2 }}' !== undefined;
                data.idJogador = '{{ sala.player1.id }}';
                data.idJogador2 = '{{ sala.player2.id }}';

            }

            data.idSala = '{{ sala.id }}';

            console.log(data);

            fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCookie('csrftoken')},
                credentials: 'same-origin'
            }).then(response => response = response.json()
            ).then(data => {
                console.log(data.atualiza);
                if(data.atualiza === true) atualizaEstado();
            }).catch(error => {
                console.log(error);
            })
        };

        const verificaInicioPartida = () => {
            if(player1_ok && player2_ok) {
                let i = 3;
                setInterval(() => {
                    $('.estado-jogadores').text('Iniciando em ' + i + '...');
                    i--;
                    if(i === 0) {
                        location.href = '{% url 'partida' sala.id request.user.id %}'
                    }
                }, 1000)
            }
        };

        setInterval(() => {
            verificaInicioPartida();
        },5000);

        setInterval(() => {
            verificaOutroJogador();
        }, 1000);

        const enviaDadosAtualizacao = (url, data) => {
            fetch(url, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {'Content-Type': 'application/json', 'X-CSRFToken': getCookie('csrftoken')},
                credentials: 'same-origin'
            }).then(response => {
                console.log(response);
            }).catch(error => {
                console.log(error);
            })
        };
    </script>
    <script src="{% static 'js/utils.js' %}"></script>
{% endblock %}
