body {
	background-color: #547280;
}

h1 {
	font-weight: bold;
	text-decoration: underline;
}

button {
	cursor: pointer;
}

.board {
	background-color: darkgrey;
	border-radius: 3%;
	box-shadow: 3px 3px 10px 10px black;
}

.game-card {
	height: 120px;
	width: 90px;
	cursor: pointer;
    display: inline-flex;
}

/* cor da tabela #307775 */

.white {
	color: white;
	font-weight: bold;
}

.busca {
	background-color: #eeeeee;
}

.bt-cancel {
	font-weight: bold;
	color: red;
	background-color: white;
}

.bt-padrao {
	font-weight: bold;
	color: #aaaaaa;
	background-color: #eeeeee;
}

.bt-modal {
	font-weight: bold;
	color: #268F81;
	background-color: white;
	border-bottom-color: #268F81;
}

.bt-modal:hover {
	background-color: #268F81;
	color: white;
}






.titulo-sala {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    widows: 80%;
}

.img-settings {
    height: 30px;
    cursor: pointer;
    margin-top: 15px;
}

.img-sair {
    height: 50px;
    cursor: pointer;
}

.menu-sair {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
}

.img-usuario {
    height: 150px;
    border-radius: 50%;
}

.img-check {
    height: 100px;
    margin-top: 60px;
}

.btn-confirmar {
    height: 40px;
    border-radius: 5px;
    margin-top: 115px;
}

.card-usuario {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 50%;
    margin: auto;
}

.card-grande {
    background-color: #268F81;
}

.vs-img {
    margin-top: 25%;
}

.corpo-container {
    padding-top: 60px;
}

.estado-jogadores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    color: rgba(111, 255, 236, 0.534);
    margin-top: 30px;
    height: 35px;
}

.linha-titulo {
    width: 80%;
    margin: auto;
}

.cancelar {
    cursor: pointer;
}

.erro {
    color: red;
    padding-bottom: 10px;
}

#loginrequest {
    margin: auto;
    margin-top: 65px;
}

.mensagem-sem-partida {
    background-color: #447e9b;
    height: 35px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.imagem {
	top: 1px;
	padding: 1%;
	width: 100%;
	height: 100%;
}

.card-grande {
    background-color: #268F81;
	box-shadow: 3px 3px 2px 2px black;
}

.user-box {
	margin: 10px;
}

.img-ingame {
    height: 120px;
    border-radius: 50%;
	margin: 10px;
}

#p1 {
    margin: 40px;
}

.dados-jogador {
    padding-top: 55px;
}

#btn-desistir {
    height: 55px;
}
